<% provide(:title, "About") %>
<div>
	<h1>About Lugnuts Auto Parts</h1>
	<p>The Lugnuts Auto Parts family has been around for more than 60 years. Founded
		by Mr. Lugnuts, now Peggy Lugnuts is the new CEO. 
	</p>
</div>