<% provide(:title, "Articles") %>
<div class="container">
<div class ="col-sm-2">
	<h1>Articles</h1>
	<p>Article 1</p>
	<p>Article 2</p>
	<p>Article 3</p>
	<p>Article 4</p>
	<p>Article 5</p>
</div>
</div>