<% provide(:title, "Instructional Videos") %>
<div class="container">
	<div class ="col-sm-4">
		<h1>Instructional Videos</h1>
		<p>Video 1</p>
		<p>Video 2</p>
		<p>Video 3</p>
		<p>Video 4</p>
		<p>Video 5</p>
	</div>
</div>