// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans+Condensed:700,300);

h1, h2, h3, h4, h5, h6, th{
     font-family: 'Open Sans Condensed', sans-serif;
     font-weight:700;
}

nav{
    a{
        font-family:'Open Sans Condensed', sans-serif;
        font-weight:bold;
    }
}


div, p{
    font-family: 'Oswald', sans-serif;
    letter-spacing:2px;
}
    
    header{
       position:relative;
       background-color:#c1c1c1;
       margin-right:auto;
       margin-left:auto;
    
     ul { 
      float:right;
      margin-right:90px;
      margin-top:5px;
      
        
      li{
          display:inline;
          list-style-type:none;
            margin:20px;
            padding:5px;
            #login{
                background-color:red;
                min-width:100px;
            }
            #cart{
                background-color:green;
                min-width:100px;
            }
           
      }
    }
}
    
    #logo{
        margin-top:50px;
        img{
            float:left;
            width:180px;
            height:128px;
            margin-left:100px;

        }
    }

nav{
    background-color:blue;
    clear:both;
    margin-top:10px;
    margin-right:50px;
    margin-left:50px;
     .navb {
         display:inline;
         background-color:blue;
         
        li{
            text-decoration:none;
            display:inline;
            margin:10px;
             a{   
                color:white;
                text-decoration:none;
                font-size:2em;
       }
    }
 
  }
  .form-group{
      margin-right:50px;
  }
  .dropdown{
      ul{
          background-color:blue;
          a{
              font-size:0.98em;
          }
      }
      
    
}
}



h1 {
color: orange;
text-align: center;
}
